a:link {color: #34344A;} /* 'link' is the standard color you see once arriving to my page */
a:visited {color:#80475E;}/* 'visited' is the color you see after you have clicked on the link */
a:hover {color: #59C3C3;}/* 'hover' is the color displayed when your cursor hover over the link */
a:active {color:#ADB9E3 ;}/*'active' is the color displayed when you actively click on the link */

/* this css class is assigned to the header & footer only*/
.dark-background{
  background-color: #8D99AE;
  text-align: center;
  font-size:15px;

}

/* this css class is assigned to the main container content in the webpage*/
.light-background{
  background-color:#EDF2F4;
  text-align:center;
  font-size:15px;
}
