/* this code is for all clickable links on my page. */
a:link {color: #34344A;} /* 'link' is the standard color you see once arriving to my page */
a:visited {color:#80475E;}/* 'visited' is the color you see after you have clicked on the link */
a:hover {color: #59C3C3;}/* 'hover' is the color displayed when your cursor hover over the link */
a:active {color:#ADB9E3 ;}/*'active' is the color displayed when you actively click on the link */

/* this css class is assigned to the header & footer only*/
.dark-background{
  background-color: #8D99AE;
  text-align: center;
  padding:15px;
  height: 20px;
}

/* this css class is assigned to the main container content in the webpage*/
.light-background{
  background-color:#EDF2F4;
  text-align:center;
  padding-top:15px;
  height: 20px;
}

/* this is a groupd of css selectors to simplify my code*/
h1, footer p{
  color: #2B2D42;
}

/*this applies only to the h2 content in my webpage */
h2{
  color:#43AA8B;
  font-family: 'sans-serif',Georgia, times;
  text-align: center;
}

/*this applies only to the h3 content in my webpage */
h3{
  color:#52489C;
}

/* adding in some text color*/
section, p{
  color:#1D8A99;
  font-size:25px;
}


.contact-section{
  margin-top:20px;
}

article{
  text-align:center;
}
